@mixin dropDownCard {
    .content{
        cursor: pointer;
        width: 100%;
        .DropDownCard{
            border: 1px solid #bfc8d3;
            background-color: white;
            .dropDownTopContainer{
                height: 3rem;
                display: grid;
                align-items: center;
                justify-content: space-between;
                font-weight: bold;
                grid-template-columns: repeat(4, 1fr);
                .date{
                    display: flex;
                    justify-content: space-between;
                    width: 11rem;
                    margin-left: 2rem;

                    @media screen and (max-width: 1023px) {
                        font-size: 12px;
                        margin-left: 2;
                        justify-content: flex-start;
                    }

                    @media screen and (max-width: 500px) {
                        width: 0;
                    }

                    @media screen and (max-width: 425px) {
                        margin-left: 0;
                    }

                    img{
                        max-width: 1rem;
                        @media screen and (max-width: 1023px) {
                            margin-right: 1rem;
                        }
                    }

                    p{
                        @media screen and (max-width: 1023px) {
                            margin-left: 1rem;
                        }
                    }
                }

                p{
                    margin: 0;

                    @media screen and (max-width: 1023px) {
                        font-size: 12px;
                    }
                }
            }
            
            .dropDownBottomContainer{
                text-align: left;

                .type, .categoryContainer, .notesContainer{
                    margin-left: 5.5rem;
                    font-weight: bold;
                    display: flex;

                    @media screen and (max-width: 1023px) {
                        font-size: 12px;
                        margin-left: 1rem;
                    }
                }

                img{
                    margin-left: 0.7rem;
                    max-width: 0.7rem;
                }
            }
        }
    }
}