@import "../component/navigation";
@import "../component/connectedNavigation";

header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    @include navigation;
    @include connectedNavigation;
}