@import "../component/header";

main{
    .canvas{
        background-image: url("../../../public/img/bank-tree.jpeg");
        background-size: cover;
        background-repeat: no-repeat; 
        background-position: 0% 33%;   
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: end;
        align-items: center;

        .canvas-content{
            margin-right: 5rem;
            width: 364px;
            height: 234px;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            @media screen and (max-width: 530px) {
                margin-left: auto;
                margin-right: auto;
            }

            h1{
                text-align: left;
                margin-left: 2rem;
                font-weight: bold;
                font-size: 1.5rem;
            }
            
            p{
                margin-left: 2rem;
                text-align: left;
            }
        }
    }
}
