@import "../component/header";

.mainProfile{
    background-color: #12002b;
    padding-top: 1rem;
    .containerTop{
        h1{
            margin: 0;
            color: white;
            font-size: 2em;
            font-weight: bold;
        }

        button{
            border-color: #00bc77;
            background-color: #00bc77;
            color: white;
            padding: 10px;
            font-weight: bold;
            margin-top: 1rem;
        }
    }
}

.mainProfileedit{
    background-color: #dde2ea;
    padding-top: 1rem;
    .containerTop{
        h1{
            margin: 0;
            color: 28313c;
            font-size: 2em;
            font-weight: bold;
        }

        form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            .inputContainer{
                margin-top: 1rem;
                display: flex;
                justify-content: space-between;
                width: 19rem;
                input{
                    min-height: 1.7rem;
                    border-style: none;
                    border: 1px solid #b3bcc7;
                    padding-left: 1rem;
                }
            }
            .buttonContainer{
                margin-top: 1rem;
                display: flex;
                justify-content: space-between;
                width: 13rem;
                button{
                    min-height: 1.7rem;
                    min-width: 6rem;
                    border-style: none;
                    color: #5256ec;
                    border: 2px solid #c7cbe9;
                    background-color: white;
                }
            }
        }
        button{
            border-color: #00bc77;
            background-color: #00bc77;
            color: white;
            padding: 10px;
            font-weight: bold;
            margin-top: 1rem;
        }
    }
}